.ex-1-square {
   transition: background-color 3s;
}

.ex-1-square:hover {
    background-color:red;
}

.ex-2-square {
    background: red;
    transition: 3s;
}

.ex-2-square:active {
  width: 80%
}

.ex-3-square {
    transition:1s;
}

.ex-3-square:hover {
    border-radius: 100%;
}

.ex-4-square {
    transition:2s;
}

.ex-4-square:hover {
    opacity:0;
}

.ex-5-square {
    transition: 0.5s;
}

.ex-5-square:hover {
    transform: scale(1.5)
}

.ex-5-square:active {
    transform: scale(.5)
}

.ex-6-img:hover{
    filter:grayscale(1);
}


.ex-7-img{
    transition:1s;
}

.ex-7-img:hover{
    filter: sepia(.5) blur(2px);
}

.ex-8-img {
    transition: 1s;
}
.ex-8-img:hover {
    filter: grayscale(.4) sepia(.6);
    border-radius: 30px;
}

.ex-9-img {
    transition: 1s;
}

.ex-9-img:hover {
    filter: grayscale(.4) sepia(.6);
    border-radius: 20px;
    transform: scale(1.4);
}