.ex-1-square {
   transition: background-color 3s;
}

.ex-1-square:hover {
    background-color:red;
}

.ex-2-square {
    background: red;
    transition: 3s;
}

.ex-2-square:active {
  width: 80%
}

.ex-3-square {
    transition:1s;
}

.ex-3-square:hover {
    border-radius: 100%;
}

.ex-4-square {
    transition:2s;
}

.ex-4-square:hover {
    opacity:0;
}

.ex-5-square {
    transition: 0.5s;
}

.ex-5-square:hover {
    transform: scale(1.5)
}

.ex-5-square:active {
    transform: scale(.5)
}

.ex-6-img:hover{
    filter:grayscale(1);
}


.ex-7-img{
    transition:1s;
}

.ex-7-img:hover{
    filter: sepia(.5) blur(2px);
}

.ex-8-img {
    transition: 1s;
}
.ex-8-img:hover {
    filter: grayscale(.4) sepia(.6);
    border-radius: 30px;
}

.ex-9-img {
    transition: 1s;
}

.ex-9-img:hover {
    filter: grayscale(.4) sepia(.6);
    border-radius: 20px;
    transform: scale(1.4);
}

.ex-10-icon {
    animation: spin 1s linear infinite;
}
@keyframes spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}

.ex-11-icon:hover {
    animation: spin270 1s linear;
}
@keyframes spin270 {
    0% {
        transform: rotate(0);
    }
    95% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0);
    }
}

.ex-12-button:hover .ex-12-top-white {
    animation: muovibiancosopra 1s linear;
}
@keyframes muovibiancosopra {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: muovibiancosotto 1s linear;
}
    
@keyframes muovibiancosotto {
        0% {
            right: 20%;
        }
        50% {
            right: calc(100% - 60px);
        }
        100% {
            right: 20%;
        }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: moveBottomWhite 2s linear;
}
@keyframes moveBottomWhite {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}

.ex-13-button:hover .ex-13-top-white {
    animation: movetopwhiterevolution 3s linear;
}
@keyframes movetopwhiterevolution  {
    0% {
        left: 10%;
        top: -10px;

    }
    20%{
        left: calc(100% - 30px);
        top: -10px;
    }
    40%{
        left: calc(100% - 30px);
        top: 100%;
    }
    60%{
        left: -10px;
        top: 100%;
    }
    80%{
        left: -10px;
        top: -10px;
    }

    100% {
        left: 10%;
        top:  -10px;;
        
    }
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: movebottomwhiterevolution 3s linear;
}
@keyframes movebottomwhiterevolution {
    0% {
        right: 20%;
        bottom: -10px;
        
    }
    
    20% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
   
    40% {
        right: calc(100% - 30px);
        bottom: 100%;
    }

    60% {
        right: 0;
        bottom: 100%;
    }

    80%{
        right: -15px;
        bottom: -10px;
    }

    100% {
        
        right: 20%;
        bottom: -10px;
    }
} 